<h1>V-Check API</h1>
<br>
<br>
선린인터넷고등학교 2021년도 모바일콘텐츠개발대회에 출품할 V-Check 앱에서 쓰이는 API입니다.
<br>
<br>
이 API는 두가지 API를 사용합니다.
<ol>
    <li>식품(첨가물)품목제조보고(원재료)</li>
    <li>식품 원재료 정보(DB) 서비스</li>
</ol>
<br>
1번 API는 < 식품의약품안전처 - 데이터 활용 서비스 > 에서 제공하며 식품에 포함되어있는 원재료명들을 가져옵니다.<br>
2번 API는 < 공공데이터 포털 - openAPI > 에서 제공하며 원재료에대한 정보를 가져옵니다.<br>
<br>
<br>
<h1>How to Use</h1>
<blockquote>현재_링크/api/품목제조보고번호</blockquote> 